<app-header></app-header>
<h1>
  {{title}}
</h1>

<button routerLink="">Home</button>
<button routerLink="/product">Product</button>
<button routerLink="/search">search</button>
<button routerLink="/user/login">login</button>
<button routerLink="/user">registration</button>
<button routerLink="/customer">customer / myaccount</button>
<button routerLink="/customer/myorders">customer / myorders</button>
<button routerLink="/order">order / cart</button>
<button routerLink="/order/fail">order / order-fail</button>
<button routerLink="/order/success">order / order-success</button>


<router-outlet></router-outlet>

<app-footer></app-footer>